doctype html
html(ng-app="MyBot")
  head
    meta(charset='utf-8')
    |       
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Your Logs
    |       
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    |       
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    |       
    link(href='../../myStyles.css', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/line-chart/2.0.28/LineChart.min.css', rel='stylesheet', type='text/css')
    |    
    //style [ng\:cloak], [ng-cloak] { display: none;}    
    
  |   
  body(ng-controller='LogsController')
    div
    .Mnav-tab
      h2(style='text-align: right; float:left; width: 80%; padding-right:15%; display:inline;') Your diary logs
      a(id='m-statistics' ui-sref="app.statistics") Statistics
    |     
    //- div(ng-if="!showMenu" style='z-index : 1001;')
    //-             |<h1>{{message}} </h1>   
    .container(style='margin: 0px; padding: 0px; width: 100%;position: static; ',class='container')
      .Mmenu
        ul(style='padding-left: 10px;  ')
          li.m-day
            a(ng-click='allTime()' ng-class='{active: isSelected()}' style='padding: 8px; text-align: center; font-size: 24px; display: block;') All time
          |                               
          |                                
          li.m-day(ng-repeat='day in days')
            a(ng-click='setDay(day)' ,ng-class='{active: isSelected(day)}', style='') {{day | date:  'dd MMM yyyy'}}
      |           
      div(style=' top: 80px;position: relative;')
        .col-lg-6.col-lg-push-3.col-md-8.col-md-push-2.col-sm-12.col-xs-12(style='padding: 0px;')
          .row
            .Mrow.col-lg-8.col-md-8.col-sm-8.col-xs-8
              ul(style='padding-left: 0px;')
                li.m-log(ng-repeat='log in logs |filter: filterFn')
                  .row.m-header
                    .col-xs-9.col-sm-9.col-md-9.col-lg-9
                      h3.m-activity-name {{log.logName}}
                    |                                  
                    .col-xs-3.col-sm-3.col-md-3.col-lg-3(style='padding-left: 0;')
                      h5.m-date
                        | {{log.time | date: 'hh:mm a' }}
                        br
                        |  {{log.time| date: ' dd MMM yyyy'}}
                  |                                 
                  .row.m-body
                    h5.m-note
                      span(style='font-size: 28px;')  Note: 
                      |  {{log.note}}
                  |                                 
                  .row.m-footer
                    h4.m-type {{log.activity.type}}

    script(type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js")
    //script(src="../../debuggin.js")     
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    - console.log('11111')
    script(src= 'https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js')
    - console.log('afer angular')
    //script(src= '../../angular.js')
    //script(src="https://d3js.org/d3.v3.min.js")
    //script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")
    //script(src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/line-chart/2.0.28/LineChart.min.js")
    //script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(src= 'https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.4/angular-resource.js')
    - console.log('afer angular resource')
    script(src= '../../app.js')
    //script(src= '../../service.js')
    //script(src= '../../controller.js')   
    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')