doctype
html(ng-app="MyBot")
    head
        title Your Logs

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    body
- console.log('user ',cUser)  
- console.log('user ')  
        div
                |<h1>Hello! </h1>
                h1 #{cUser.firstName}
          
            div(class='container',ng-controller='LogsController')
                ul
                    li(ng-repeat='log in logs') {{log.logName}}
                        span.label {{log.logName}}


        script(src= 'https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
        script(src= '../angular-resource.min.js')
        script(src= '../app.js')
        script(src= '../controller.js')
        script(src= 'https://salty-plains-47076.herokuapp.com/service.js')



