
div {
/*  overflow: hidden;*/
color: white;
}
li {
list-style: none;
}
.Mnav-tab {
background-color: rgb(37,108,228);
margin-top: 0px;
padding-top: 0px;
height: 70px;
color:white;
margin-left: 0px;
position: fixed;
z-index: 900;
width: 100%;
display: inline;
}

.Mnav-tab h2 {
font-size: 19px;
text-align: right;
float:left;
width: 80%;
padding-right:15%;
display:inline;
}
.Mcontainer {
background-color: silver;
border-style:none;
margin-left: auto;
margin-right: auto;
}
.Mrow {
margin-left: auto;
margin-right: auto;
}
.Mmenu {
position: fixed;
width: 33.3333%;
left: 66.666667%;
height: 100%;
margin-top: 75px;
overflow:scroll;
z-index: 1000;
padding-right: 10px;
}

.m-note span {
      font-size: 18px;
}
@media (min-width: 350px) {
  .Mnav-tab {
      height: 50px;
}
.Mmenu {
margin-top: 53px;
    }  

#log-div {
      top :50px;
}

.Mnav-tab h2 {
      font-size: 16px;
}
.m-note span {
      font-size: 12px;
}

}

#log-div {
top: 70px;
}

  @media (min-width: 768px) {
.Mmenu {
width: 27.7777%;
left: 63.888%;
}
.Mnav-tab {
width: 83.3333%;
left: 8.333%;
}



.Mnav-tab h2 {
font-size: 17px;}
.m-activity-name {
font-size: 14px;}
.m-date {
font-size: 9px;}
.m-note {
font-size: 9px;}
.m-type {
font-size: 13px;}
li span {
font-size: 14px;}
a {
font-size: 14px;}

}


@media (min-width: 992px) {
.Mmenu {
left: 61.0455%;
width: 22.1977%;
}
.Mnav-tab {
left: 16.666%;
width: 66.6666%;
}

.Mnav-tab h2 {
font-size: 17px;}
.m-activity-name {
font-size: 14px;}
.m-date {
font-size: 9px;}
.m-note {
font-size: 9px;}
.m-type {
font-size: 13px;}
li span {
font-size: 14px;}
a {
font-size: 14px;}

}
@media (min-width: 1200px) {
.Mmenu {
width: 16.666%;
left: 58.33333%;
}
.Mnav-tab {
left: 25%;
width: 50%;
}

}

.row {
padding: 0px;
margin: 0px;
}

.m-log {
height: 15%;
background-color: rgb(215,217,208);
border-radius: 55px;
margin-top: 5px;
}
.m-activity-name {
border-radius: 20px;
background-color: rgb(164,100,90);
float: left;
position: relative;
margin-left: 15px;
margin-right: 5px;
padding-right: 10px;
padding-left:10px;
margin-bottom:10px;
padding-top:10px;
padding-bottom: 10px;
font-size: 16px;
overflow: hidden;
margin-top: 8px
}
.m-date {
font-size: 11px;
color: black;
}
.m-note {
margin: 2px 3px 3px 2px;
color: rgb(83,100,90);
font-size: 11px;
padding-top: 5px;
padding-right: 10px;
padding-left:6px;
overflow: visible;
}

.m-type {
overflow: visible;
background-color: rgb(90,135,264);
border-radius: 20px;
font-size: 15px;
margin-left: 30px;
color: white;
text-align: center;
padding-top: 7px;
padding-bottom:7px;
padding-left: 7px;
padding-right: 7px;
float:left;
}

.m-day {
background-color: rgb(58,60,58);
border-top: 5px rgb(154,158,155) solid;
}

li span {
font-size: 15px;
}

a {
padding: 8px;
text-align: center;
font-size: 15px; 
display: block;
list-style: none;
text-decoration-style:  none;
color: white;
}

a:hover {
color: white;
text-decoration-style:  none;
text-decoration: none;
cursor:pointer
}

.active {
      background-color: white;
      color: black;
}

.active:hover {
      background-color: gray;
      color: black;
}

#m-statistics {
      width: 18%;
      float: right;
      padding-top: 15px;
      padding-right: 15px;
      font-size: 13px;
      display: inline;
      color: white;
}
